:root{
    --white: #fafafa;
    --blue: #1f97ff;
    --black1: #131313;
    --black3: #333333;
    --gray: #d6d6d6;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}
a{
    display: block;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 999;
    /* background-color: #1bc43d1f; */
    background-color: #ddddddbd;
    backdrop-filter: blur(20px);
}
.header-container{
    max-width: 820px;
    margin: 0 auto;
    padding: 5px 0px;
}
.nav-list-desktop{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    color: var(--black1);
    display: block;
    padding: 5px 10px;
    font-size: 11px;
    opacity: 1;
}
.nav-link :hover{
    opacity: 0.7;
}
.nav-login{
    color: var(--black1);
    display: block;
    padding: 5px 10px;
    font-size: 11px;
    opacity: 1;
}
.nav-login :hover{
    opacity: 0.7;
}
.nav-link-search{
    color: var(--gray);
    display: block;
    padding: 5px 10px;
    font-size: 11px;
    opacity: 1;
}
.nav-link-search :hover{
    opacity: 0.7;
}
.nav-mobile{
    display: none;
}
.nav-list-mobile{
    display: none;
}
@media (max-width: 600px){
    .nav-list-desktop{
        display: none;
    }
    .nav-link{
        color: var(--gray);
    }
   .nav-mobile{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
    /* Codigo para funcionar no Js */
    .hamburguer{
        width: 25px;
        height: 25px;
        position: relative;
        z-index: 900;                    
    }
    .hamburguer:after{
        content: "";
        position: absolute;
        top: 38%;
        left: 23%;
        width: 55%;
        height: 4%;
        background-color: var(--black3);
        transition: 1s ease;
    }
    .hamburguer:before{
        content: "";
        position: absolute;
        top: 63%;
        left: 23%;
        width: 55%;
        height: 4%;
        background-color: var(--black3);
        transition: 1s ease;
    }   

    .hamburguer.hamburguer-active{
        width: 25px;
        height: 25px;
        position: relative;
    }
   .hamburguer-active.hamburguer::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 23%;
        width: 55%;
        height: 4%;
        transform: rotate(225deg);
        background-color: var(--gray);
    }
    .hamburguer-active.hamburguer::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 23%;
        transform: rotate(-405deg);
        width: 55%;
        height: 4%;
        background-color: var(--gray);
    }
    /* Codigo para funcionar no Js */       
    .nav-list-mobile{
        width: 100%;
        height: 0vh;
        position: fixed;
        top: -1100%;
        z-index: 0;
        background-color: #030303;
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 40px 30px;
        flex-direction: column;
        opacity: .5;
        transition: 1s ease;
    }    
    /* Codigo para funcionar no Js */
    .nav-list-mobile.active{
        top: 0;
        height: 100vh;
        opacity: 1;
    }
    /* Codigo para funcionar no Js */
    .nav-item-mobile{
        width: 100%;
        margin: 5px 0px;        
    }
    .nav-link-mobile{
        display: block;
        color: var(--gray);
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #333;
        opacity: 1;
        transition: 0.5s ease;
        font-size: 11px;
    }
    :hover.nav-link-mobile{
        opacity: 0.7;
    }
    .search{
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: 0;
        padding: 0px 10px;
        background-color: #1f1f1f;
        outline: none;
        color: #888;
    }
}
.header-topics{    
    border-radius: 0.5px;
    border-color: var(--gray);
    border-style: double;
    backdrop-filter: blur(20px);
    z-index: 999;
    width: 100%;
    height: 30px;
    top: 35px;
    position: fixed;    
}
.nav-topics-container{
    max-width: 820px;
    margin: 0 auto;
    padding: 5px 0px;
}
.nav-list-topics{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.nav-topics{
    list-style: none;
    text-decoration: none;
    color: var(--gray);
    font-size: 10px;
    font-display: center;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
}
a.nav-topics:hover{
    opacity: 0.8;
}
.back{
    list-style: none;
    text-decoration: none;
    color: var(--gray);
    font-size: 11px;
    font-display: center;
    display: block;   
}
.back::after{      
    position: absolute;
    top: 0;
    right: -15px;
    opacity: 1;
    transition: 1s ease;
}
.back:hover{
    opacity: 0.8;
    text-decoration: underline;
}
.nav-topics-mobile{
    display: none;
}
@media (max-width: 600px){
    .header-topics{
        border-radius: 0px;
        border-color: var(--gray);
        border-style: none;
        backdrop-filter: blur(0px);        
    }
    .nav-list-topics{
        display: none;
    }
    .nav-topics-mobile{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-list-topics-mobile{
        width: 98%;
        height: 0%;
        position: fixed;
        top: 25%;
        z-index: 0;
        list-style: none;
        display: flex;
        align-items: center;
        margin: -5;
        padding: 20px 30px;
        flex-direction: column;
        opacity: 1;
        transition: 1s ease;        
    }
    .nav-list-topics-mobile.active{
        top: -2500%;
        height: 100%;
        opacity: 0.5;
    }
    .nav-item-topics-mobile{
        width: 100%;
        height: 5%;
        margin: 6% 4%;              
    }    
}

/*Site*/

@media (max-width: 600px){
    .video-container{
        display: none;
    }
    .title{
        animation: none;
        color: var(--black3);
        position: relative;
        width: 100%;
        height: 100vh;
        padding-right: 5px;
        animation: letter-color 30s infinite;
    }
    .link{
        display: none;
    }
    .section{
        background-image: url(../media/cellphone-slide/2.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: backgroundimg 30s infinite;              
    }
}
@keyframes backgroundimg {    
    10%{
        background-image: url(../media/cellphone-slide/84182a1057285ac060b1dc50c380accc.jpg);
    }
    30%{
        background-image: url(../media/cellphone-slide/fcd8f051037449a60df9cfb293e9aea1.png);
    }
    50%{
        background-image: url(../media/cellphone-slide/Strawberry-planting-garden_iphone_1080x1920.jpg);
    }
    70%{
        background-image: url(../media/cellphone-slide/texto-2.webp);
    }     
}

.img-trigo{
    max-width: 100%;
    max-height: 100%;
}
.img-cotton{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
.section{    
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    margin: 5px 0px;   
    align-items: center;  
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;         
}
.title{
    width: 100%;
    height: 100vh;
    z-index: 1;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;    
    padding-top: 22%;
    padding-left: 5%;
    animation: animate 6s ease forwards;
}
.title h1{
    font-size: 48px;
    letter-spacing: -5px;
}
.title h3{
    font-size: 24px;
    letter-spacing: -2px;
}
.trabalho{
    z-index: 999;
    width: 5%;
    padding-top: 42%;
    color: var(--gray);
    opacity: .5;    
}
@keyframes animate{
    0%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }    
    100%{
        opacity: 0;
    }
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: animate-video 2s ease forwards;    
}
@keyframes animate-video{
    0%{
        opacity: .8;
    }   
    100%{
        opacity: 1;
    }
}
@media (max-width: 600px){
    .video-container{
        display: none;
    }
    .section h1{
        font-size: 36px;
        letter-spacing: -2px;
    }
    .section h3{
        font-size: 18px;
        letter-spacing: 0px;
    }
    .section{
        background-image: url(/media/Plantation-Cell.jpg); 
        background-position: center;
        background-size: 100%;
        display: block;        
    }
}
@media (max-width: 425px){
    .section{
        background-image: url(/media/Plantation-Cell.jpg); 
        background-position: center;
        background-size: 100%;
        display: block;        
    }
}
.link-end{
    color: var(--gray);
    text-decoration: none;
    font-size: 12px;
    opacity: .5;
    transition: .5s ease;    
}
.link-end::after{
    content: ">";    
}
.link-end:hover{
    opacity: 1;
    text-decoration: underline;
}
.text-introduction{
    position: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: normal;
    color: var(--white);
    background-image: linear-gradient(to bottom, #2f7233, #33ac39);    
}
.final-text{
    color: var(--white);
}
@media (max-width: 600px){
    .img-trigo{
        width: 90%;
        height: 90%;
    }   
    .img-cotton{
        width: 90%;
        height: 90%;
    }    
}
.link-start{
    color: var(--black1);
    text-decoration: none;
    font-size: 12px;
    opacity: .5;
    transition: .5s ease;
    pointer-events: initial;
}
.link-start::after{
    content: ">";    
}
.link-start:hover{
    opacity: 1;
    text-decoration: underline;
}
.sumario{
    text-align: center;    
    align-content: center;
    color: var(--black3);  
    font-size: 30px;  
}

.sumario-item{
    font-size: 20px;
}

/* Conteúdo */

.links-nav {
    background-color: rgb(1, 54, 1);
    padding: 10px;
}

.link-nav {
    text-align: center;
    font-size: .6em;
    transition-duration: .3s;
    color: white;
}

.link-nav:hover {
    color: rgb(243, 243, 243);
    font-size: .65em;
}

/* Introdução */

.introducao {
    background-image: linear-gradient(to bottom, rgb(1, 54, 1), green);
}

.conteudo-introducao {
    margin: 0 auto;
    background-color: white;
    max-width: 1300px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    text-indent: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
}

.conteudo-introducao h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.conteudo-introducao p {
    margin: 15px 0px;
}

.imagem-introducao {
    width: 100%;
    border-radius: 10px; 
}

.legenda-imagem-introducao {
    font-size: .55em;
    text-align: center;
}

/* Sumário */

.sumario {
    background-image: linear-gradient(to bottom, green, yellow);
    padding-top: 15px
}

.titulo-sumario {
    color: white;
    padding-bottom: 15px;
    font-size: 1.05em;
}

.link-sumario {
    color: white;
    font-size: .7em;
    transition-duration: .3s;
    padding: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.788);
}

.link-sumario:hover {
    color: rgb(233, 231, 231);
    font-size: .75em
}

/* Motivos */

.motivos {
    background-image: linear-gradient(to bottom, yellow, orange);
    padding: 15px 0px;
}

.conteudo-motivos {
    margin: 0 auto;
    background-color: white;
    max-width: 1300px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    text-indent: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
}

.titulo-motivos {
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.imagem-motivos {
    width: 100%;
    border-radius: 10px; 
}

.conteudo-motivos p {
    padding: 10px
}

.lista-motivos {
    list-style-position: inside;
}

.produtor {
    margin-top: 10px;
    text-align: center;
    font-size: .6em;
}

.produtor a {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

.produtor a:hover {
    font-size: 1.05em;
    color: black;
}